<div class="contextual">
  <%= link_to(l(:button_list),
    {controller: 'external_relations', action: 'show'},
    class: 'icon icon-list') %>
  <%= link_to(l(:button_edit),
    {action: 'edit', id: @ex_rel_app.id},
    class: 'icon icon-edit') %>
  <%= link_to(l(:button_delete),
    {action: 'destroy', id: @ex_rel_app.id},
    method: :delete,
    data: { confirm: l(:text_are_you_sure) },
    class: 'icon icon-del') %>
</div>

<%= title [l(:label_title_ex_rels), { controller: 'external_relations', action: 'show'}], @ex_rel_app.app_name %>

<div class="issue">
  <div class="subject">
    <h3><%= @ex_rel_app.id %></h3>
    <p><%= @ex_rel_app.app_name %></p>
    <p><%= @ex_rel_app.app_title %></p>
  </div>
</div>
